body{color: #959595;}
#header{width: 100%;height: 40px;background-color: #42bcbc;}

.logo_link{display: inline-block;height: 40px;line-height: 40px;}
/*.logo{width: 142px;height: 29px; background: url(/images/common.png) 0 0 transparent no-repeat;margin-top: 6px;}*/
.logo {width: 161px; height: 40px; background: url(/images/logo_tmp.png) 0 0 transparent no-repeat;}

.menu_list{display: inline-block; float: right; height: 40px; line-height: 50px;}
.h-profile, .h-banfu, .h-cart, .h-my{width:20px;height: 20px; background: url(/images/common.png) 0 0 transparent no-repeat;display: inline-block; margin-left: 120px;position: relative;}
.h-profile{background-position: -42px -45px;}
.h-banfu{background-position: -129px -45px;}
.h-cart{background-position: -83px -45px;}
.h-my{background-position: 2px -44px;}

#footer{margin-top: 60px;}
.footer-service{overflow: hidden;display: block;}
.footer-service li {float: left;}
.f-s-li+.f-s-li{margin-left: 122px;}
.footer-service li i{background: url(/images/common.png) 0 0 transparent no-repeat;display: inline-block;height: 27px;width: 29px;vertical-align: -9px;margin-right: 6px;}
.footer-service .s-1 i{background-position: 0px -98px;}
.footer-service .s-2 i{background-position: 0px -139px;}
.footer-service .s-3 i{background-position: 0px -186px;}
.footer-service .s-4 i{background-position: 0px -228px;}
.footer-service .s-5 i{background-position: 0px -268px;}

.hr{border-top: 1px solid #959595;margin: 35px auto 50px;}
.footer-links dt {font-size: 16px;}
.footer-links dl {float: left; width: 90px; margin: 0 72px;font-size: 14px;line-height: 30px;text-align: left;}
.col-contact{text-align: center;}
.phone{font-size: 22px;}
.site-info{background-color: #f9f9f9; padding: 20px 0 50px; margin-top: 20px;}
.ir{float: left; background-color: #42bcbc;padding: 0px 8px 2px; margin-right: 20px;}


.main-banner{margin-top: 10px;}
.sub-banner{margin-top: 10px;overflow: hidden;}
.sub-banner li {float: left;}
.sub-banner-li+.sub-banner-li{margin-left: 10px;}


.menu_list span{cursor: pointer;}
.menu_list span:before { content: ""; position: absolute; top: 20px; left: -37px; width: 100px; height: 10px;}
.menu_list div{ width: 100px; position: absolute; background-color: #fff; border: 1px solid #d3d3d3; top: 33px; right: -53px; padding: 15px 13px 0; text-align: center;}
.menu_list .sub-menu:before{ content: ""; position: absolute; left: 52px; top: -10px; height: 0; width: 0; border-color: transparent transparent #d9d9d9 transparent; border-style: dashed dashed solid dashed; border-width: 0 12px 9px;}
.menu_list .sub-menu:after{ content: ""; position: absolute; left: 53px; top: -8px; height: 0; width: 0; border-color: transparent transparent #fff transparent; border-style: dashed dashed solid dashed; border-width: 0 11px 8px;}
.menu_list li{  border-bottom: 1px solid #d9d9d9;text-align: center; line-height: 40px;}
.menu_list li:last-child{border-bottom: none;}
.menu_list a i{background: url(/images/common.png)  -163px -50px transparent no-repeat; width: 20px;height: 20px;display: inline-block; vertical-align: -6px; margin-right: 6px;}
.menu_list .sub-menu{display: none;}
.menu_list span:hover .sub-menu{display: block;}

.bf-order{margin-top: 38px;}
.shop-sub-header{height: 60px;line-height: 60px;border-bottom: 1px solid #d5d5d5;}
.shop-sub-header h1{margin: 0;float: left;font-size: 24px;font-weight: 500;}
.sub-header-nav{float: right;}
.sub-header-nav li{float: left;margin-left: 50px;}

.model{float: left;}
.img-big, .img-big img{height:580px;width: 580px;}
.img-small, .img-small img{width: 100px;}
.img-small-div{margin-top: 11px;}
.img-small-div .img-small{float: left;margin-right: 11px;}
.parameter{width: 580px;float: right;}
.parameter h5{margin: 0;font-weight: 500;}

.p-block{overflow: hidden;padding-bottom: 46px;margin-bottom: 54px;border-bottom: 1px solid #d5d5d5;}

.color-select, .p-select{width:114px;height:50px;border: 1px solid #d5d5d5;border-radius: 4px;float: left;margin-top: 25px;text-align: center;}
.p-select{line-height: 50px;}
/*.color-select:last-child{margin-right: 0;}*/
.color-select+.color-select, .p-select+.p-select{margin-left: 38px}
.c-b{width:21px;height: 21px;display: block; margin: 5px auto 0;border: 1px solid #d5d5d5;border-radius: 20px;}

.c-white{background-color: #fff;}
.c-gray{background-color: #e6e6e6;}
.c-black{background-color: #000;}
.c-red{background-color: #a53030;}
