body{background-color: #f9f9f9;}
#header{background-color: transparent;height: 100px;border-bottom: 2px solid #42bcbc;}

/*order*/
#order{overflow: hidden;}
.logo_link {display: inline-block;height: 35px;line-height: 33px;background-color: #42bcbc;padding: 1px 10px; margin-top: 34px;}
.logo{background: url(/images/common.png) 0px 3px transparent no-repeat;margin-top: 0px;height: 33px;}
.order-block{border-bottom: 1px solid #d3d3d3;overflow: hidden;padding-bottom: 40px;}
.order-subtitle{    font-size: 24px;vertical-align: 8px;display: inline-block;margin-left: 10px;}
.add_address{cursor: pointer;}
.order-address{width: 270px;height: 180px;float: left;border: 1px solid #d3d3d3;margin-right: 19px;margin-top: 19px}
.address-add-icon{width: 32px;height: 32px;margin: 60px auto 10px;background: url(/images/common.png) 0px -310px no-repeat transparent;}
.address-add-text{text-align: center;}
.order-block h4 {font-weight: 300;font-size: 18px;display: inline-block; margin-bottom: 0; margin-top: 38px;}
.order-static-span{color: #42bcbc;margin-left: 10px;}
.invoices-btn{width: 270px;height: 43px; color:#959595;cursor: pointer;display: inline-block;border: 1px solid #d5d5d5;text-align: center;line-height: 43px;}
.invoices-e{margin: 0 15px 0 80px;}
.invoices-e-p{margin-left: 114px;margin-top: 10px;display: none;}
.invoices-selected{color: #42bcbc;border: 1px solid #42bcbc;}
.invoices-privacy{margin: 16px 15px 0 116px;}
.invoices-privacy,.invoices-company,.invoices-company-title,.invoices-company-title-p{display: none;}
.invoices-company-title{width: 546px; height: 43px;padding-left: 10px; margin: 15px 0 8px 116px;}
.invoices-company-title-p{margin-left: 116px;}
.goods{font-size: 18px;margin-top: 40px;padding-bottom: 6px;border-bottom: 1px solid #d5d5d5;}
.goods-info{padding-top: 16px;padding-bottom: 20px;}
.col {float: left;}
.col-name{width: 500px;margin-left: 20px;}
.col-price,.col-type{width: 200px;}
.col-total{width: 200px;text-align: right;}
.order-finally{text-align: right; padding-top: 15px;padding-bottom:15px;}
.order-finally span {width: 100px; display: inline-block;}
.submit_btn{width: 222px;height: 46px;float: right;margin-top: 20px;}


/*pay*/
#order-pay{overflow: hidden;}
.pay-title{padding: 60px 60px 60px 150px;background-color: #fff;margin-top: 40px;overflow: hidden;position: relative;}
.pay-title-icon{width: 62px;height: 62px;display: inline-block;position:absolute;left: 60px;background: url(/images/common.png?fd123) -239px -103px no-repeat transparent;}
.fl-left{float: left;}
.fl-right{float: right;}
#order-pay h2{margin: 0;font-weight: 300;font-size: 24px;}
.pay-type{margin-top: 20px;background-color: #fff;padding: 22px;}
.pay-type h2{border-bottom: 1px solid #d5d5d5;padding-bottom: 20px;}
.pay-platform{padding-top: 30px;}
.pay-platform span {border: 1px solid #d5d5d5;width: 200px; height: 30px;display: inline-block;text-align: center;  line-height: 30px;}
