

.bf-order{margin-top: 38px;}
.shop-sub-header{height: 60px;line-height: 60px;border-bottom: 1px solid #d5d5d5;}
.shop-sub-header h1{margin: 0;float: left;font-size: 24px;font-weight: 500;}
.sub-header-nav{float: right;}
.sub-header-nav li{float: left;margin-left: 50px;}

.model{float: left;}
.img-big, .img-big img{height:580px;width: 580px;}
.img-small, .img-small img{width: 100px;}
.img-small-div{margin-top: 11px;}
.img-small-div .img-small{float: left;margin-right: 11px;}
.parameter{width: 580px;float: right;}
.parameter h5{margin: 0 0 25px 0;font-weight: 500;font-size: 18px;}

.p-block{overflow: hidden;padding-bottom: 46px;margin-bottom: 54px;border-bottom: 1px solid #d5d5d5;}

.color-select, .p-select{width:114px;height:50px;border: 1px solid #d5d5d5;border-radius: 4px;float: left;text-align: center;}
.p-select{line-height: 50px;}
/*.color-select:last-child{margin-right: 0;}*/
.color-select+.color-select, .p-select+.p-select{margin-left: 38px}
.c-b{width:21px;height: 21px;display: block; margin: 5px auto 0;border: 1px solid #d5d5d5;border-radius: 20px;}
.position-zone{overflow: hidden;}
.c-white{background-color: #fff;}
.c-gray{background-color: #e6e6e6;}
.c-black{background-color: #000;}
.c-red{background-color: #a53030;}
.n-s-title{background-color: #42bcbc;border-radius: 4px;color: #fff;padding: 4px 5px; margin: 0 5px 0 10px;}
.n-select input{width: 62px; height: 30px; margin: 6px 11px 0px; padding-left: 5px; color: #666;}
.n-select{display: inline-block;line-height: 50px;border: 1px solid #d5d5d5;border-radius: 3px; width: 274px;height: 49px;margin-bottom: 21px;}
.n-select+.n-select{margin-left:22px;}
.num-control{float: right;margin-right: 10px;}
.num-dec, .num-inc{-ms-user-select: none;-webkit-user-select: none;-moz-user-select: -moz-none;}
.num-dec{background: url(/images/common.png) -21px -77px transparent;width: 9px;height: 9px;display: inline-block;}
.num-inc{background: url(/images/common.png) -2px -77px transparent;width: 9px;height: 9px;display: inline-block;}
.p-selected{border: 1px solid #42bcbc;}
.img-small, .p-select,.color-select, .num-inc, .num-dec{cursor: pointer;}
/*.num-inc, .num-dec{font-size: 20px;font-weight: 200;line-height: 12px;}*/
.desc-input,.desc-ta{width: 554px;border-radius: 4px;padding: 10px;}
.desc-input{height: 28px;margin-bottom: 16px;}
.desc-ta{height: 164px;resize: none;}
.account{padding: 30px 85px 27px;background-color: #f9f9f9;}
.p-cash-count{color: #42bcbc; font-size: 30px;border-bottom: 1px solid #cacaca;margin-bottom: 10px;padding-bottom: 10px;}
.p-cash-e-p, .p-cash-o-s{line-height: 28px;}
.submit_btn{width: 100%;border-radius: 4px; margin-top: 12px;}
.p-position-p{position: relative; bottom: -26px; background-color: #f9f9f9; padding: 4px;}
.p-position-span{font-size: 18px;color:#42bcbc; }